<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questions</key>
	<array>
		<array>
			<string>What is the subject of the CS121 class at Harvey Mudd?</string>
			<string>software development</string>
		</array>
		<array>
			<string>How many legs does an insect has?</string>
			<string>6</string>
		</array>
		<array>
			<string>What is the middle name of Harry Potter?</string>
			<string>James</string>
		</array>
		<array>
			<string>How many houses does have Hogwart?</string>
			<string>4</string>
		</array>
	</array>
	<key>timeToSolve</key>
	<integer>500</integer>
	<key>pointPerQuestion</key>
	<integer>10</integer>
</dict>
</plist>
