<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<array>
			<string> What does HMC stand for?</string>
			<string> Harvey Mudd College</string>
			<string> Harvard Main Campus</string>
			<string> Hopital Marie Curie</string>
			<string> Hydrogen Mercure Chlore</string>
			<string> Harvey Mudd College</string>
		</array>
		<array>
			<string> How many sisters does have Ron Weasley?</string>
			<string> 4</string>
			<string> 1</string>
			<string> 3</string>
			<string> 2</string>
			<string> 1</string>
		</array>
		<array>
			<string> What is the first name of Harry Potter&apos;s father?</string>
			<string> Jean</string>
			<string> Joe</string>
			<string> James</string>
			<string> Jason</string>
			<string> James</string>
		</array>
	</array>
	<key>TimePerQuestion</key>
	<integer>10</integer>
</dict>
</plist>
